<!DOCTYPE html>
<html>
<head>
  <title>The Changelog Nightly</title>
</head>
<body>
<% issues.each do |issue| %>
  <div>
    <a href="<%= issue %>"><%= issue %></a>
  </div>
<% end %>
</body>
</html>
