body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    // background-color: #000;
    margin: 0;
    padding: 0
}

.brand {
    width: 200px
}

@media (max-width: 480px) {
    .brand {
        display: block;
        width: 180px;
        margin: 0 auto;
        position: relative;
        left: -6px
    }
}

.hide-on-desktop {
    display: none !important
}

.show-on-desktop {
    display: block !important
}

@media (max-width: 480px) {
    .hide-on-mobile {
        display: none !important
    }

    .show-on-mobile {
        display: block !important
    }

    .last-of-type-on-mobile {
        margin-bottom: 0 !important
    }
}

///

.repositories {
    margin-top: 40px;
}

.repository {
    margin-bottom: 25px;
}

.repository:last-of-type, .repository.last-of-type {
    margin-bottom: 0 !important
}

.content-block h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.content-block h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.content-block h3 a {
    color: #fff;
    text-decoration: none;
}

p {
    color: #a8a8a8;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

///

code, pre {
    margin: 0;
    padding: 0
}

pre {
    display: block;
    margin-bottom: 10px
}

code {
    display: inline-block
}

pre code {
    display: block
}

code {
    background-color: #2b2d2d;
    border-radius: 3px;
    color: #d7d7d7;
    font-family: "DejaVu Sans Mono", Menlo, Monaco, Consolas, Courier, monospace;
    font-size: 13px;
    padding: 10px
}

p code {
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    color: inherit;
    font-family: "DejaVu Sans Mono", Menlo, Monaco, Consolas, Courier, monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 2px 5px
}

@media (max-width: 480px) {
    table {
        width: 100%
    }
}

.content-block-footer p {
    font-size: 13px
}

.image-bleed img {
    width: 600px
}

.divider, .divider-10, .divider-20, .divider-40 {
    display: block;
    width: 1px
}

.divider-10 {
    height: 10px
}

.divider-20 {
    height: 20px
}

.divider-40 {
    height: 40px
}

.align-center {
    text-align: center !important
}

.align-right {
    text-align: right !important
}

.align-left {
    text-align: left !important
}

.align-justify {
    text-align: justify !important
}

.margin-top-negative-10 {
    margin-top: -10px
}

.margin-top-10, .bq-solo {
    margin-top: 10px !important
}

.margin-bottom-10, .bq-below {
    margin-bottom: 10px !important
}

.content-block-dark h3 {
    color: #e5e5e5
}

.content-block-dark p {
    color: #e5e5e5;
    margin-bottom: 14px
}

.content-block-dark a {
    color: #fff
}

.content-block-white h3 {
    border-bottom: 2px solid #e5e5e5
}

.content-block-white h3, .content-block-white h4 {
    color: #2b2d2d
}

.content-block-white h3 a, .content-block-white h4 a {
    color: #428bca
}

.content-block-white h5 {
    color: #aaa
}

.content-block-white p {
    color: #333
}

.content-block-white a:hover {
    color: #2b2d2d;
    text-decoration: underline
}

.content-block-white em, .content-block-white mark {
    font-style: normal;
    padding: 3px;
    background-color: #fffeca
}

.content-block-footer {
    color: #777
}

.content-block-footer a {
    color: #2b2d2d
}
