<!DOCTYPE html>
<html>
<head>
  <title>Changelog Nightly</title>
</head>
<body>
<ul>
<% Dir["**/*.html"].map { |html| html.gsub "dist", "" }.each do |path| %>
  <li><a href="<%= path %>"><%= path %></a></li>
<% end %>
</ul>
</body>
</html>
