// Top-bar colors
$top-bar-background-color: #373737 !default;
$top-bar-text-color: #a8a8a8 !default;
$top-bar-link-color: #a8a8a8 !default;

// Wrapper colors
$wrapper-background-color: #272727 !default;

// Section colors
$section-h2-color: #fff !default;
$section-h3-color: #fff !default;
$section-p-color: #a8a8a8 !default;
$section-link-color: #fff !default;
$stats-link-color: #a8a8a8 !default;

// Seperator
$seperator-background-color: #373737 !default;

// Cross promotion colors
$cross-promotion-background-color: #ffde51 !default;
$cross-promotion-text-color: #272727 !default;
$cross-promotion-link-color: #272727 !default;

// Footer colors
$footer-text-color: #a8a8a8 !default;
$footer-link-color: #fff !default;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0
}

.hide-on-desktop {
    display: none !important
}

.show-on-desktop {
    display: block !important
}

@media (max-width: 480px) {
    .hide-on-mobile {
        display: none !important
    }

    .show-on-mobile {
        display: block !important
    }

    .last-of-type-on-mobile {
        margin-bottom: 0 !important
    }
    table {
        width: 100%
    }
}

.wrapper {
    background-color: $wrapper-background-color;
}

.top-bar {
    background-color: $top-bar-background-color;
    color: $top-bar-text-color;

    p {
        font-size: 12px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }

    a {
        color: $top-bar-link-color;
        text-decoration: none;
    }

}

.header img {
    margin: 10px 0 0 0;
}

.section {
    padding-bottom: 25px;
}

.section h2 {
    color: $section-h2-color;
    font-size: 16px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 0;
}

.repositories {
    margin-top: 30px;
}

.repository {
    margin-bottom: 20px;
}

.repository:last-of-type, .repository.last-of-type {
    margin-bottom: 0 !important;
}

.repository h3 {
    color: $section-h3-color;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 4px;
    padding-top: 0;
    padding-bottom: 0;

    a {
        color: $section-h3-color;
        text-decoration: none;
    }
}

.section p, .repository p {
    color: $section-p-color;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    a {
        color: $section-link-color;
    }
}

.seperator {
    background-color: $seperator-background-color;
    margin: 5px 0 15px 0;

    td {
        background-color: $seperator-background-color;
    }
}

.avatar {
    margin-top: 2px;
}

.stats p {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 4px;

    a {
        color: $stats-link-color !important;
    }
}

.cross-promotion {
    background-color: $cross-promotion-background-color;
    text-align: center;
    padding: 12px;

    p {
        color: $cross-promotion-text-color;
        font-size: 13px;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    a {
        color: $cross-promotion-link-color;
        font-weight: bold;
    }
}

.footer {
    color: $footer-text-color;
    padding: 10px 0 30px 0;
    text-align: center;

    p {
        font-size: 13px;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 18px;
        padding-top: 0;
        padding-bottom: 0;
    }

    a {
        color: $footer-link-color;
    }
}
