// Top-bar colors
$top-bar-background-color: #e5e5e5;
$top-bar-text-color: #171717;
$top-bar-link-color: #171717;

// Wrapper colors
$wrapper-background-color: #fff;

// Section colors
$section-h2-color: #171717;
$section-h3-color: #171717;
$section-p-color: #777;
$section-link-color: #777;
$stats-link-color: #777;

// Seperator
$seperator-background-color: #f3f3f3;

// Cross promotion colors
$cross-promotion-background-color: #171717;
$cross-promotion-text-color: #f5f5f5;
$cross-promotion-link-color: #f5f5f5;

// Footer colors
$footer-text-color: #777;
$footer-link-color: #777;

@import "base";
