body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    // background-color: #000;
    margin: 0;
    padding: 0
}

.bg-373737 {
    background-color: #373737;
}

.bg-272727 {
    background-color: #272727;
}

.hide-on-desktop {
    display: none !important
}

.show-on-desktop {
    display: block !important
}

@media (max-width: 480px) {
    .hide-on-mobile {
        display: none !important
    }

    .show-on-mobile {
        display: block !important
    }

    .last-of-type-on-mobile {
        margin-bottom: 0 !important
    }
}

///

.top-bar {

    line-height: 34px;

    a {
        color: #A8A8A8;
        text-decoration: none;
    }

}

.header img {
    margin: 25px 0 15px 0;
}

.repositories {
    margin-top: 30px;
}

.repository {
    border-bottom: 1px solid #373737;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.repository:last-of-type, .repository.last-of-type {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.seperator {
    margin: 20px 0 25px 0;
}

.avatar {
    margin-top: 5px;
}

.stats p {
    font-size: 13px;

    a {
        color: #a8a8a8 !important;
    }
}

.section {
    padding-bottom: 25px;
}

.section h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 0;
}

.section h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.section h3 a {
    color: #fff;
    text-decoration: none;
}

p {
    color: #a8a8a8;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    a {
        color: #ffffff;
    }

}

.cross-promotion {
    background-color: #ffde51;
    text-align: center;
    color: #272727;
    padding: 12px;

    p {
        color: #272727;
    }

    a {
        color: #272727;
        font-weight: bold;
    }
}

.footer {

    padding: 10px 0 30px 0;
    text-align: center;

    p {
        margin-bottom: 18px;
    }

    a {
        color: #ffffff;
    }

}

@media (max-width: 480px) {
    table {
        width: 100%
    }
}

.divider, .divider-10, .divider-20, .divider-40 {
    display: block;
    width: 1px
}

.divider-10 {
    height: 10px
}

.divider-20 {
    height: 20px
}

.divider-40 {
    height: 40px
}

.align-center {
    text-align: center !important
}

.align-right {
    text-align: right !important
}

.align-left {
    text-align: left !important
}

.align-justify {
    text-align: justify !important
}

.margin-top-negative-10 {
    margin-top: -10px
}

.margin-top-10, .bq-solo {
    margin-top: 10px !important
}

.margin-bottom-10, .bq-below {
    margin-bottom: 10px !important
}
